//Import variabls and general style
@import 'App.scss';

/* Dashboard */

#dashboard-container {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  height: calc(100vh - 270px);
  min-height: calc(100vh - 175px);
  background-image: $trans-background,
                    radial-gradient(ellipse at 50%, $color-secondary 60%, $color-dark );

  .display {
    display: grid;
    grid-template-columns: [c1] 8% [c2] 1fr [c3] 8% [c4];
    grid-template-rows: [r1] 10% [r2] 1fr [r3] 1fr [r4] 1fr [r5] 10% [r6];
    grid-gap: 1em;
    width: 90%;
    max-width: 800px;
    margin: 1em auto;
    border-radius: 0.3em;
  }

  .landing-box {
    position: relative;
    grid-column: c2 / c3;
    grid-row: r2 / r3;
    padding: 1em;
    border-radius: 0.3em;
    background-color: #ffffff;
    box-shadow: 1px 1px 20px $color-dark;
  }

  .landing-box:nth-of-type(2) {
    grid-column: c2 / c3;
    grid-row: r3 / r4;
  }

  .landing-box:nth-of-type(3) {
    grid-column: c2 / c3;
    grid-row: r4 / r5;
  }

  p {
    color: $color-secondary;
  }

  .fas {
    font-size: 3em;
    color: $color-secondary;
  }

}

/* Media Queries */

@media only screen and (min-width:600px) {

#dashboard-container {

  .display {
    max-width: 800px;
  }

  .fas {
    font-size: 7em;
  }

}


}
