//Import variabls and general style
@import 'App.scss';

#goals {
  background-image: $trans-background,
                    radial-gradient(ellipse at 50%, $color-secondary 60%, $color-dark );
    font-family: $font-main;
    grid-column: c1 / c2;
    grid-row: r2 / r3;
    height: 100vh;

    .header {
      width: 100%;
      background-color: #000;
      color: $color-primary;
      font-family: $font-header;
      text-align: center;
    }

    .enter-goal {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .text-goal {
      width: 250px;
      margin: 1em 0;
    }

    .selection {
      margin: 1em 0;
      background-color: #fff;
      border: 1px solid gray;
    }

    .goal-display {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 2em 0;
    }

    .fas {
      font-size: 3em;
    }

    ul {
        text-align: center;
        list-style-type: none;
    }

    #landing-container {
        grid-column: c1 / c2;
        grid-row: r2 / r3;
        height: 74.7vh;
        background-color: $color-secondary;
    }

}
