//Import variabls and general style
@import 'App.scss';

/* Landing */

#landing-container {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  height: 100vh;
  background-color: $color-secondary;

  .landing-area {
    display: grid;
    grid-template-areas: [c1] 20% [c2] 1fr [c3] 20% [c4];
    grid-template-rows: [r1] 10% [r2] 1fr [r3] 1fr [r4] 1fr [r5] 10% [r6];
  }

  .landing-box {
    width: 300px;
    height: 260px;
    border-radius: 0.3em;
    background-color: #ffffff;
  }

  .landing-header {
    color: $color-secondary;
  }

  .fas {
    font-size: 3em;
  }

}

/* Media Queries */

@media only screen and (min-width:600px) {

#landing-container {

  .fas {
    font-size: 8em;
  }

}


}
