//Import variabls and general style
@import 'App.scss';

#log {
  background-color: #fff;
  font-family: $font-main;
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  height: 100vh;

  .title {
    font-family: $font-header;
    text-align: center;
  }

  .cal-entry {
    width: 70%;
    margin: 1em auto;
    background-color: $color-secondary;
    border: 2px solid #000;
    border-radius: 1em;
  }

  .cal-entry-item {
    margin: 0.5em;
  }

  .cal-entry-item-title {
    margin-right: 1em;
    font-size: 1.2em;
  }

  .far {
    font-size: 3em;
  }

  .entry-button {
    padding: 0;
    background-color: $color-secondary;
    border: 0;
    transform: rotate(45deg);
  }

  button:hover {
    cursor: pointer;
  }

  .entry-log {
    width: 35%;
    margin: 1em auto;
    background-color: $color-primary;
    border: 2px solid #000;
    border-radius: 1em;
  }

  .log-entry-item {
    font-size: 1.2em;
  }

  .remove-button {
    width: 1em;
    margin: 1em;
    background-color: $color-primary;
    border: none;
  }

}
