//Import variabls and general style
@import 'App.scss';

#log {
  background-color: $color-secondary;
  font-family: $font-main;
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  height: 100vh;

  .title {
    font-family: $font-header;
    text-align: center;
  }

  .cal-entry {
    width: 80%;
    margin: 2em auto;
    border: 2px solid #000;
  }

  .cal-entry-item {
    margin: 1em;
  }

}
