//Import variabls and general style
@import 'App.scss';

#log {
  background-image: $trans-background,
                    radial-gradient(ellipse at 50%, $color-secondary 60%, $color-dark );
  font-family: $font-main;
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  min-height: calc(100vh - 180px);

  button:hover {
    cursor: pointer;
  }

  .title {
    font-family: $font-header;
    font-size: 1.2em;
    color: $color-primary;
    text-align: center;
  }

  .header {
    width: 100%;
    padding: 0.4em 0;
    background-color: #000;
  }

  .cal-entry {
    width: 70%;
    max-width: 250px;
    margin: 1em auto;
    background-color: #fff;
    border-radius: 0.4em;
    box-shadow: 3px 3px 10px #262525;
  }

  .cal-entry-item {
    margin-bottom: 0.5em;
    border: 1px solid gray;
  }

  .cal-entry-item-title {
    padding: 0;
    margin: 0.7em 0;
    font-size: 1.2em;
  }

  .far {
    font-size: 3em;
  }

  .entry-button {
    padding: 0;
    margin: 1em;
    background-color: #fff;
    border: 0;
    transform: rotate(45deg);
  }

  .entry-log {
    position: relative;
    width: 75%;
    max-width: 400px;
    margin: 1em auto;
    background-color: #fff;
    border-radius: 0.4em;
    box-shadow: 3px 3px 10px #262525;
    transition-duration: 150ms;
  }

  .entry-log:hover {
    box-shadow: 1px 1px 5px #000;
  }

  .log-entry-item {
    padding: 0;
    margin: 0.5em 0;
    font-size: 1.2em;
  }

  .remove-button {
    position:absolute;
    top: 0;
    right: 2.2em;
    width: 1em;
    margin: 1em;
    font-size: 0.6em;
    background-color: #fff;
    border: none;
  }

  .entry-log-area {
    max-height: 400px;
    max-width: 250px;
    margin: 2em auto;
    overflow-y: scroll;
    background-color: #000;
    border: 1px solid $color-dark;
    border-radius: 0.3em;
  }

}

/* Media Queries */

@media only screen and (min-width:600px) {

#log {

  .cal-entry {
    max-width: 300px;
  }

  .cal-entry-item {
    border: none;
  }

  .cal-entry-item-title {
    font-size: 1.8em;
  }

  .entry-log-area {
    max-width: 300px;
  }

}

}

@media only screen and (min-width:800px) {
  #log {
      display: grid;
      grid-template-columns: [c1] 5% [c2] 1fr [c3] 1fr [c4] 5% [c5];
      grid-template-rows: [r1] 50px [r2] 80px [r3] 1fr [r4] 200px [r5];
      grid-gap: 25px;

      .header {
        grid-column: c1 / c5;
        grid-row: r2 / r3;
      }

      .cal-entry {
        grid-column: c2 / c3;
        grid-row: r3 / r4;
        width: 320px;
      }

      .entry-log-area {
        grid-column: c3 / c4;
        grid-row: r3 / r4;
        max-width: 350px;
        width: 100%;
        margin: 1em 0;
      }

  }

}
