//Import variabls and general style
@import 'App.scss';

/* Login */

#login-container {
  position: fixed;
  width: 100vw;
  height: 100vh;

  .invisible-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffffa0;
  }

  .body {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #fff;
    box-shadow: 5px 5px 25px #000;
  }

  .close {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 3;
  }

  .close:hover{
    cursor:pointer;
  }

  .nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 2;
  }

  .nav-item {
    width: 50%;
    padding: 0.6em 0;
    text-align: center;
    color: #fff;
    background-color: $color-dark;
    border-radius: 20px 20px 0 0;
  }

  .nav-item:hover {
    cursor: pointer;
  }

  .login-body {
    width: 100%;
  }

}

#signup-form {
  margin:0;
  padding:0;

  .form-field {
    margin: 1em auto;
    color: $color-dark;
    line-height: 1em;
    font-variant: small-caps;
  }

  input {
    margin-left: 1em;
    padding: 0.2em;
    font-size: 0.6em;
    border-radius: 0.4em;
  }

  #name {
    width: 230px;
  }

  #password {
    width: 180px;
  }

  #loc {
    width: 190px;
  }

  #submit {
    width: 100%;
    margin: 0;
    padding: 0.2em 0;
    color: $color-primary;
    font-size: 1.2em;
    font-variant: small-caps;
    letter-spacing: 0.3em;
    border-image: 0;
    border-radius: 0.4em;
  }

  #submit:hover {
    box-shadow: 4px 3px 20px #000;
  }

  ::placeholder {
    padding: 0.3em;
    color: $color-primary;
    opacity: 0.5;
  }

}


/* Media Queries */

@media only screen and (min-width:600px) {

#login-container {

  .body {
    width: 600px;
    height: 400px;
  }

  .close {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 3;
  }

  .nav {
    width: 600px;
  }

}

}
