//Import variabls and general style
@import 'App.scss';

#results {
  background-image: $trans-background,
                    radial-gradient(ellipse at 50%, $color-secondary 60%, $color-dark );
    font-family: $font-main;
    grid-column: c1 / c2;
    grid-row: r2 / r3;

    .header {
      width: 100%;
      background-color: #000;
      color: $color-primary;
      font-family: $font-header;
      text-align: center;
    }

    .result-display {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 2em 0;
    }

    input {
        margin-left: 42%;
        width: 300px;
    }
    ul {
        text-align: center;
        list-style-type: none;
    }
    #landing-container {
        grid-column: c1 / c2;
        grid-row: r2 / r3;
        height: 74.7vh;
        background-color: $color-secondary;
    }

}
