//Import variabls and general style
@import 'App.scss';

#results {
  background-image: $trans-background,
                    radial-gradient(ellipse at 50%, $color-secondary 60%, $color-dark );
    font-family: $font-main;
    grid-column: c1 / c2;
    grid-row: r2 / r3;

    .header {
      width: 100%;
      background-color: #000;
      color: $color-primary;
      font-family: $font-header;
      text-align: center;
    }

    .result-display {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 2em 0;
    }

    .chart {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 200px;
      padding: 0 1em;
      margin: 1em 0;
      border-radius: 0.3em;
      color: $color-secondary;
      background-color: #ffffff;
      box-shadow: 1px 1px 20px $color-dark;
    }

    .results-box {
      width: 100%;
      max-width: 250px;
      padding: 0.5em 0;
      margin: 1em 0;
      border-radius: 0.3em;
      color: $color-secondary;
      background-color: #ffffff;
      box-shadow: 1px 1px 20px $color-dark;
    }

    .dark-text {
      color: $color-secondary;
    }

    .fas {
      font-size: 3em;
    }

}

@media only screen and (min-width:600px) {

  #results {

    .results-box {
      max-width: 400px;
    }

    .chart {
      width: 500px;
      height: 400px;
    }

    .fas {
      font-size: 5em;
    }

  }

}

@media only screen and (min-width:900px) {

  #results {

    .result-display {
      flex-flow: row wrap;
      justify-content: space-evenly;
      align-items: center;
    }

    .chart {
      width: 800px;
      height: 520px;
    }

  }

}

@media only screen and (min-width:1100px) {

  #results {

    .chart {
      width: 1000px;
      height: 680px;
    }

  }

}
