
// Variables
$color-primary: #5eb8ff
$color-secondary: #0288d1
$color-dark : #005b9f
$font-main: 'IBM Plex Sans', sans-serif
$font-header: 'IBM Plex Sans Condensed', sans-serif


/*  Root Styling/Layout */

#app-container
  display: grid
  grid-template-columns: [c1] 100% [c2]
  grid-template-rows: [r1] 100px [r2] 1fr [r3] 50px [r4]
  background-color: #000


/* Nav */

#nav-container
  grid-column: c1 / c2
  grid-row: r1 / r2
  display: flex
  flex-flow: row-nowrap
  justify-content: space-between

#header


.nav-header
  margin-left: 2em
  font-size: 3em
  color: $color-primary
  font-family: $font-header
